In [4]:
# The linear regression implementation uses a tutorial by Mirko Stojiljković (https://realpython.com/linear-regression-in-python/)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression

csv = pd.read_csv('auto-mpg-edit.csv')

mpg = np.array(csv['mpg']).reshape((-1, 1))
horse = np.array(csv['horsepower'])

lr = LinearRegression().fit(mpg, horse)

slope = lr.coef_
intercept = lr.intercept_

print(f"Intercept: {lr.intercept_}")
print(f"Slope: {lr.coef_}")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
plt.plot(mpg,horse, 'yo')
plt.plot(mpg, slope*mpg+intercept)

array(['130', '165', '150', '150', '140', '198', '220', '215', '225',
       '190', '170', '160', '150', '225', '95', '95', '97', '85', '88',
       '46', '87', '90', '95', '113', '90', '215', '200', '210', '193',
       '88', '90', '95', '?', '100', '105', '100', '88', '100', '165',
       '175', '153', '150', '180', '170', '175', '110', '72', '100', '88',
       '86', '90', '70', '76', '65', '69', '60', '70', '95', '80', '54',
       '90', '86', '165', '175', '150', '153', '150', '208', '155', '160',
       '190', '97', '150', '130', '140', '150', '112', '76', '87', '69',
       '86', '92', '97', '80', '88', '175', '150', '145', '137', '150',
       '198', '150', '158', '150', '215', '225', '175', '105', '100',
       '100', '88', '95', '46', '150', '167', '170', '180', '100', '88',
       '72', '94', '90', '85', '107', '90', '145', '230', '49', '75',
       '91', '112', '150', '110', '122', '180', '95', '?', '100', '100',
       '67', '80', '65', '75', '100', '110', '105', '140', '150', '150',
       '140', '150', '83', '67', '78', '52', '61', '75', '75', '75', '97',
       '93', '67', '95', '105', '72', '72', '170', '145', '150', '148',
       '110', '105', '110', '95', '110', '110', '129', '75', '83', '100',
       '78', '96', '71', '97', '97', '70', '90', '95', '88', '98', '115',
       '53', '86', '81', '92', '79', '83', '140', '150', '120', '152',
       '100', '105', '81', '90', '52', '60', '70', '53', '100', '78',
       '110', '95', '71', '70', '75', '72', '102', '150', '88', '108',
       '120', '180', '145', '130', '150', '68', '80', '58', '96', '70',
       '145', '110', '145', '130', '110', '105', '100', '98', '180',
       '170', '190', '149', '78', '88', '75', '89', '63', '83', '67',
       '78', '97', '110', '110', '48', '66', '52', '70', '60', '110',
       '140', '139', '105', '95', '85', '88', '100', '90', '105', '85',
       '110', '120', '145', '165', '139', '140', '68', '95', '97', '75',
       '95', '105', '85', '97', '103', '125', '115', '133', '71', '68',
       '115', '85', '88', '90', '110', '130', '129', '138', '135', '155',
       '142', '125', '150', '71', '65', '80', '80', '77', '125', '71',
       '90', '70', '70', '65', '69', '90', '115', '115', '90', '76', '60',
       '70', '65', '90', '88', '90', '90', '78', '90', '75', '92', '75',
       '65', '105', '65', '48', '48', '67', '67', '67', '?', '67', '62',
       '132', '100', '88', '?', '72', '84', '84', '92', '110', '84', '58',
       '64', '60', '67', '65', '62', '68', '63', '65', '65', '74', '?',
       '75', '75', '100', '74', '80', '76', '116', '120', '110', '105',
       '88', '85', '88', '88', '88', '85', '84', '90', '92', '?', '74',
       '68', '68', '63', '70', '88', '75', '70', '67', '67', '67', '110',
       '85', '92', '112', '96', '84', '90', '86', '52', '84', '79', '82'],
      dtype=object)